{% extends "base.html" %}

{% block title %}Prediction History{% endblock %}

{% block content %}
    
<!-- Navigation link to the home page -->
<nav>
    <a href="{{ url_for('home') }}">Home</a>
</nav>

<div class="container text-center mt-4">
    
    <h1 class="my-4">Your Prediction History</h1>
    
    <!-- Display prediction history if there are any predictions -->
    <ul class="list-group">
        {% if predictions %}
            {% for prediction in predictions %}
                <li class="list-group-item mb-3">
                    <strong>Date:</strong> {{ prediction.date_created.strftime('%Y-%m-%d %H:%M:%S') }}<br>
                    
                    <strong>Inputs:</strong>
                    <ul>
                        <li><strong>Mean Radius:</strong> {{ prediction.mean_radius }}</li>
                        <li><strong>Mean Perimeter:</strong> {{ prediction.mean_perimeter }}</li>
                        <li><strong>Mean Area:</strong> {{ prediction.mean_area }}</li>
                        <li><strong>Mean Concavity:</strong> {{ prediction.mean_concavity }}</li>
                        <li><strong>Mean Concave Points:</strong> {{ prediction.mean_concave_points }}</li>
                        <li><strong>Worst Radius:</strong> {{ prediction.worst_radius }}</li>
                        <li><strong>Worst Perimeter:</strong> {{ prediction.worst_perimeter }}</li>
                        <li><strong>Worst Area:</strong> {{ prediction.worst_area }}</li>
                        <li><strong>Worst Concavity:</strong> {{ prediction.worst_concavity }}</li>
                        <li><strong>Worst Concave Points:</strong> {{ prediction.worst_concave_points }}</li>
                    </ul>

                    <strong>Result:</strong> {{ prediction.result }}
                </li>
            {% endfor %}
        {% else %}
            <li class="list-group-item">No predictions available.</li>
        {% endif %}
    </ul>
</div>
{% endblock %}
