{% extends "base,html" %}
{% block title %}The input page{%endblock%}

{% block content %}

    <div>
        <h2>Enter Cancer diagnosis Features</h2>
        <form method="POST">
            <div>
                <label>Mean Radius</label>
                <input type="number" class="form-control" name="Mean Radius" required>
            </div>
            <div>
                <label>Mean Perimeter</label>
                <input type="number" class="form-control" name="Mean Perimeter" required>
            </div>
            <div>
                <label>Mean Area</label>
                <input type="number" class="form-control" name="Mean Area" required>
            </div>
            <div>
                <label>Mean Concavity</label>
                <input type="number" class="form-control" name="Mean Concavity" required>
            </div>
            <div>
                <label>Mean Concave Points</label>
                <input type="number" class="form-control" name="Mean Concave Points" required>
            </div>
            <div>
                <label>Worst Radius</label>
                <input type="number" class="form-control" name="Worst Radius" required>
            </div>
            <div>
                <label>Worst Perimeter</label>
                <input type="number" class="form-control" name="Worst Perimeter" required>
            </div>
            <div>
                <label>Worst Area</label>
                <input type="number" class="form-control" name="Worst Area" required>
            </div> 
            <div>
                <label>Worst Concavity</label>
                <input type="number" class="form-control" name="Worst Concavity" required>
            </div> 
            <div>
                <label>Worst Concave Points</label>
                <input type="number" class="form-control" name="Worst Concave Points" required>
            </div>      
             <br>                  
            <button type="submit" class="btn btn-primary">Predict Price</button>
        </form>
    </div>       
    

{% endblock %}
